# ¡Hola Andrea!

Mi nombre es Ezequiel Ferrario, soy code reviewer en Tripleten y tengo el agrado de revisar el proyecto que entregaste.

Para simular la dinámica de un ambiente de trabajo, si veo algún error, en primer instancia solo los señalaré, dándote la oportunidad de encontrarlos y corregirlos por tu cuenta. En un trabajo real, el líder de tu equipo hará una dinámica similar. En caso de que no puedas resolver la tarea, te daré una información más precisa en la próxima revisión.

Encontrarás mis comentarios más abajo - **por favor, no los muevas, no los modifiques ni los borres**.

¿Cómo lo voy a hacer? Voy a leer detenidamente cada una de las implementaciones que has llevado a cabo para cumplir con lo solicitado. Verás los comentarios de esta forma:

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si todo está perfecto.
</div>


<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si tu código está bien pero se puede mejorar o hay algún detalle que le hace falta. Se aceptan uno o dos comentarios de este tipo en el borrador, pero si hay más, deberá hacer las correcciones. Es como una tarea de prueba al solicitar un trabajo: muchos pequeños errores pueden hacer que un candidato sea rechazado.
</div>

<div class="alert alert-block alert-danger">

<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si de pronto hace falta algo o existe algún problema con tu código o conclusiones.
</div>

Puedes responderme de esta forma:

<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class="tocSkip"></a>

Hola, muchas gracias por tus comentarios y la revisión.
</div>

¡Empecemos!

# Déjame escuchar la música

# Contenido <a id='back'></a>

* [Introducción](#intro)
* [Etapa 1. Descripción de los datos](#data_review)
    * [Conclusiones](#data_review_conclusions)
* [Etapa 2. Preprocesamiento de datos](#data_preprocessing)
    * [2.1 Estilo del encabezado](#header_style)
    * [2.2 Valores ausentes](#missing_values)
    * [2.3 Duplicados](#duplicates)
    * [2.4 Conclusiones](#data_preprocessing_conclusions)
* [Etapa 3. Prueba de hipótesis](#hypothesis)
    * [3.1 Hipótesis 1: actividad de los usuarios y las usuarias en las dos ciudades](#activity)
* [Conclusiones](#end)

## Introducción <a id='intro'></a>
Como analista de datos, tu trabajo consiste en analizar datos para extraer información valiosa y tomar decisiones basadas en ellos. Esto implica diferentes etapas, como la descripción general de los datos, el preprocesamiento y la prueba de hipótesis.

Siempre que investigamos, necesitamos formular hipótesis que después podamos probar. A veces aceptamos estas hipótesis; otras veces, las rechazamos. Para tomar las decisiones correctas, una empresa debe ser capaz de entender si está haciendo las suposiciones correctas.

En este proyecto, compararás las preferencias musicales de las ciudades de Springfield y Shelbyville. Estudiarás datos reales de transmisión de música online para probar la hipótesis a continuación y comparar el comportamiento de los usuarios y las usuarias de estas dos ciudades.

### Objetivo:
Prueba la hipótesis:
1. La actividad de los usuarios y las usuarias difiere según el día de la semana y dependiendo de la ciudad.


### Etapas
Los datos del comportamiento del usuario se almacenan en el archivo `/datasets/music_project_en.csv`. No hay ninguna información sobre la calidad de los datos, así que necesitarás examinarlos antes de probar la hipótesis.

Primero, evaluarás la calidad de los datos y verás si los problemas son significativos. Entonces, durante el preprocesamiento de datos, tomarás en cuenta los problemas más críticos.

Tu proyecto consistirá en tres etapas:
 1. Descripción de los datos.
 2. Preprocesamiento de datos.
 3. Prueba de hipótesis.

[Volver a Contenidos](#back)

## Etapa 1. Descripción de los datos <a id='data_review'></a>

Abre los datos y examínalos.

Necesitarás `pandas`, así que impórtalo.

In [7]:
# Importar pandas
import pandas as pd

Lee el archivo `music_project_en.csv` de la carpeta `/datasets/` y guárdalo en la variable `df`:

In [9]:
# Leer el archivo y almacenarlo en df
df=pd.read_csv('/datasets/music_project_en.csv')

Muestra las 10 primeras filas de la tabla:

In [5]:
# Obtener las 10 primeras filas de la tabla df
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Esta bien. Pero en este caso remplaza el print() y utiliza el metodo sin nada (llamalo solo). Es decir llamas a la variable y al metodo correspondiente y ejecutas.

- *El ejemplo seria: nombre_df.metodo(10)*

Esto hara que sea mas legible y estetico.</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

Se mantiene la correccion, no hace falta crear una nueva variable. Lo que queremos evitar es el uso del print()
    
para eso podes poner en la celda solo: * nombre_df.metodo(10)*
    
    
Es decir, remplaza el head por el metodo.</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Corregido.</div>

Obtén la información general sobre la tabla con un comando. Conoces el método que muestra la información general que necesitamos.

In [10]:
# Obtener la información general sobre nuestros datos
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB
None

Estas son nuestras observaciones sobre la tabla. Contiene siete columnas. Almacenan los mismos tipos de datos: `object`.

Según la documentación:
- `' userID'`: identificador del usuario o la usuaria;
- `'Track'`: título de la canción;
- `'artist'`: nombre del artista;
- `'genre'`: género de la pista;
- `'City'`: ciudad del usuario o la usuaria;
- `'time'`: la hora exacta en la que se reprodujo la canción;
- `'Day'`: día de la semana.

Podemos ver tres problemas con el estilo en los encabezados de la tabla:
1. Algunos encabezados están en mayúsculas, otros en minúsculas.
2. Hay espacios en algunos encabezados.
3. `Detecta el tercer problema por tu cuenta y descríbelo aquí`.

El uso de un guión bajo para el nombramiento con la regla (snake_case) de la columna N°1 y el espacio inicial de la misma. City': 'time': 'Day': Son nombres muy poco descriptivos, se necesita renombrarlos para generar un poco mas de ilustración en los mismos, que nos ayude a comprender el contenido de estos.

### Escribe observaciones de tu parte. Estas son algunas de las preguntas que pueden ser útiles: <a id='data_review_conclusions'></a>

`1.   ¿Qué tipo de datos tenemos a nuestra disposición en las filas? ¿Y cómo podemos entender lo que almacenan las columnas?`

`2.   ¿Hay suficientes datos para proporcionar respuestas a nuestra hipótesis o necesitamos más información?`

`3.   ¿Notaste algún problema en los datos, como valores ausentes, duplicados o tipos de datos incorrectos?`

1. ¿Qué tipo de datos tenemos a nuestra disposición en las filas? ¿Y cómo podemos entender lo que almacenan las columnas?
dtypes: object(7) tipo; cadena, o string de contenido inmutable por si solos por el tipo de objeto.

2. ¿Hay suficientes datos para proporcionar respuestas a nuestra hipótesis o necesitamos más información?
Es importante limpiar la información, en terminos generales hay material con que trabajar.

3. ¿Notaste algún problema en los datos, como valores ausentes, duplicados o tipos de datos incorrectos?
Si, hay valores desconocidos, o no nulos; que nos permite definir que tipo de inconsistencia vamos a encontrar en nustra tabla ya sean, ausentes, duplicados, que se deben depurar para el correcto análisis de la misma.




<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Muy bien.</div>

[Volver a Contenidos](#back)

## Etapa 2. Preprocesamiento de datos <a id='data_preprocessing'></a>

El objetivo aquí es preparar los datos para que sean analizados.
El primer paso es resolver cualquier problema con los encabezados. Luego podemos avanzar a los valores ausentes y duplicados. Empecemos.

Corrige el formato en los encabezados de la tabla.

### Estilo del encabezado <a id='header_style'></a>
Muestra los encabezados de la tabla (los nombres de las columnas):

In [11]:
df# Muestra los nombres de las columnas
print(df.columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Cambia los encabezados de la tabla de acuerdo con las reglas del buen estilo:
* Todos los caracteres deben ser minúsculas.
* Elimina los espacios.
* Si el nombre tiene varias palabras, utiliza snake_case.

Anteriormente, aprendiste acerca de la forma automática de cambiar el nombre de las columnas. Vamos a aplicarla ahora. Utiliza el bucle for para iterar sobre los nombres de las columnas y poner todos los caracteres en minúsculas. Cuando hayas terminado, vuelve a mostrar los encabezados de la tabla:

In [12]:
# Bucle en los encabezados poniendo todo en minúsculas
new_columns=[]


for new_names in df.columns:
    new_column=new_names.lower()
    new_columns.append(new_column)
    
df.columns=new_columns
print(new_columns)

['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day']

In [14]:
for new_names in df.columns:
    new_column=new_names.lower()
    print(new_column)

  userid
track
artist
genre
  city
time
day

Ahora, utilizando el mismo método, elimina los espacios al principio y al final de los nombres de las columnas e imprime los nombres de las columnas nuevamente:

Necesitamos aplicar la regla de snake_case a la columna `userid`. Debe ser `user_id`. Cambia el nombre de esta columna y muestra los nombres de todas las columnas cuando hayas terminado.

In [15]:
# Bucle en los encabezados eliminando los espacios
new_columns_stripp=[]


for new_names in df.columns:
    new_column=new_names.strip()
    new_columns_stripp.append(new_column)
    
df.columns=new_columns_stripp
print(new_columns_stripp)

['userid', 'track', 'artist', 'genre', 'city', 'time', 'day']

In [16]:
# Cambiar el nombre de la columna "userid"
columns_new={'userid':'user_id'
            }

df.rename(columns=columns_new, inplace=True)
print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

Comprueba el resultado. Muestra los encabezados una vez más:

In [17]:
# Comprobar el resultado: la lista de encabezados
print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Perfecto.</div>

[Volver a Contenidos](#back)

### Valores ausentes <a id='missing_values'></a>
 Primero, encuentra el número de valores ausentes en la tabla. Debes utilizar dos métodos en una secuencia para obtener el número de valores ausentes.

In [18]:
# Calcular el número de valores ausentes
print(df.isna().sum())

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

No todos los valores ausentes afectan a la investigación. Por ejemplo, los valores ausentes en `track` y `artist` no son cruciales. Simplemente puedes reemplazarlos con valores predeterminados como el string `'unknown'` (desconocido).

Pero los valores ausentes en `'genre'` pueden afectar la comparación entre las preferencias musicales de Springfield y Shelbyville. En la vida real, sería útil saber las razones por las cuales hay datos ausentes e intentar recuperarlos. Pero no tenemos esa oportunidad en este proyecto. Así que tendrás que:
* rellenar estos valores ausentes con un valor predeterminado;
* evaluar cuánto podrían afectar los valores ausentes a tus cómputos;

Reemplazar los valores ausentes en las columnas `'track'`, `'artist'` y `'genre'` con el string `'unknown'`. Como mostramos anteriormente en las lecciones, la mejor forma de hacerlo es crear una lista que almacene los nombres de las columnas donde se necesita el reemplazo. Luego, utiliza esta lista e itera sobre las columnas donde se necesita el reemplazo haciendo el propio reemplazo.

In [19]:
# Bucle en los encabezados reemplazando los valores ausentes con 'unknown'
new_columnity=['track', 'artist', 'genre']

for columnity in new_columnity:
    df[columnity].fillna('unknown', inplace=True)
print(df.head(40))

     user_id                                              track  \
0   FFB692EC                                  Kamigata To Boots
1   55204538                        Delayed Because of Accident
2     20EC38                                  Funiculì funiculà
3   A3DD03C9                              Dragons in the Sunset
4   E2DC1FAE                                        Soul People
5   842029A1                                             Chains
6   4CB90AA5                                               True
7   F03E1C1F                                   Feeling This Way
8   8FA1D3BE                                           L’estate
9   E772D5C0                                          Pessimist
10  BC5A3A29                                       Gool la Mita
11  8B5192C0  Is There Anybody Out There? (Panoramic Paralys...
12  FF3FD2BD                                              Truth
13  CC782B0F                               After School Special
14  94EB25C2                         Make Love Whenever You Can
15  E3C5756F                                            unknown
16  81D05C7D                                     SLAVES OF FEAR
17  39DE290E                                        Hallo Hallo
18  58AE138A                                         Pat-a-Cake
19  772F5B59                                          Sweetback
20  201CF2A8                                   Ya'll In Trouble
21  44B8E869                                          Nanovirus
22  B8E29C9C                               The Drunken Scotsman
23  A729591B                                            Gavotte
24   8BA8855                               A Universal Weakness
25  A4504035                                Cradle in Bethlehem
26  982219FD                             We Not Speak Americano
27  9CC6AA46                                      Mucho Corazón
28  D8D698A9                                          Romantici
29  5661F63E  Purcell: Dido and Aeneas / Act 3 - "See the fl...
30  EBA5A8B2                             Päivän Nousu Nostajani
31  F6A44469                                Veritas Universalis
32  84AFC19A                                           Carry On
33  809CAFB1                                      Break Me Down
34  B416A40F                                              Maybe
35  A8AE9169                                            unknown
36  FCDF1C8E                                         Nasebanaru
37  C800FA98                                          Body Talk
38  14FBD1E5                                           Solteras
39  2CF53316                                   Chicago New York

                                               artist        genre  \
0                                    The Mass Missile         rock
1                                    Andreas Rönnberg         rock
2                                         Mario Lanza          pop
3                                          Fire + Ice         folk
4                                          Space Echo        dance
5                                            Obladaet       rusrap
6                                        Roman Messer        dance
7                                     Polina Griffith        dance
8                                         Julia Dalia       ruspop
9                                             unknown        dance
10                                Shireen Abdul Wahab        world
11                               Pink Floyd Floydhead   electronic
12                                             Bamboo          pop
13                               Detroit Grand Pubahs        dance
14                                          Arabesque          pop
15                                            unknown      unknown
16                                             HEALTH  alternative
17                                Die Klima Hawaiians         folk
18                                  Mother Goose Club     children
19                                 The Fabulous Three          rnb
20  Lil Tee Chill Tank Young Buck Brother Mohammed...          hip
21                                            Exotype         rock
22                                       Ménage à Moi         folk
23                                  Hachidai Nakamura         jazz
24                                   Lowercase Noises     postrock
25                                      Nat King Cole         jazz
26                                         Genio Band          pop
27                            Buena Vista Social Club        latin
28                                    Viola Valentino          pop
29                                        Teresa Shaw    classical
30                                          Värttinä        world
31                                          Devathorn        metal
32                                  Young Rising Sons  alternative
33                                      Steve Angello        dance
34                                     Maria Michelle       ruspop
35                                            unknown      unknown
36                                                Zen       reggae
37                                               Ratt         rock
38                                       Beauty Brain        dance
39                                    The Aislers Set  alternative

           city      time        day
0   Shelbyville  20:28:33  Wednesday
1   Springfield  14:07:09     Friday
2   Shelbyville  20:58:07  Wednesday
3   Shelbyville  08:37:09     Monday
4   Springfield  08:34:34     Monday
5   Shelbyville  13:09:41     Friday
6   Springfield  13:00:07  Wednesday
7   Springfield  20:47:49  Wednesday
8   Springfield  09:17:40     Friday
9   Shelbyville  21:20:49  Wednesday
10  Springfield  14:08:42     Monday
11  Springfield  13:47:49     Monday
12  Springfield  09:19:49     Monday
13  Springfield  20:04:12     Friday
14  Shelbyville  13:22:08  Wednesday
15  Springfield  09:24:51     Monday
16  Shelbyville  20:54:48     Monday
17  Shelbyville  14:36:47     Monday
18  Shelbyville  20:04:56     Monday
19  Springfield  13:56:42  Wednesday
20  Springfield  08:46:03     Monday
21  Springfield  21:36:40     Monday
22  Shelbyville  20:20:49  Wednesday
23  Springfield  13:56:00     Monday
24  Shelbyville  21:17:25  Wednesday
25  Shelbyville  09:23:01  Wednesday
26  Shelbyville  20:03:03     Monday
27  Springfield  14:06:22     Monday
28  Springfield  08:23:21  Wednesday
29  Shelbyville  08:33:58  Wednesday
30  Shelbyville  08:00:31     Friday
31  Shelbyville  20:19:42     Friday
32  Shelbyville  20:24:51     Monday
33  Springfield  14:42:31     Monday
34  Springfield  14:49:21     Friday
35  Springfield  08:56:10     Monday
36  Springfield  20:19:36  Wednesday
37  Springfield  08:45:16     Monday
38  Shelbyville  20:33:11     Friday
39  Shelbyville  20:29:00  Wednesday

Ahora comprueba el resultado para asegurarte de que después del reemplazo no haya valores ausentes en el conjunto de datos. Para hacer esto, cuenta los valores ausentes nuevamente.

In [20]:
# Contar valores ausentes
print(df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Buen bucle para rellenar los nulos.</div>

[Volver a Contenidos](#back)

### Duplicados <a id='duplicates'></a>
Encuentra el número de duplicados explícitos en la tabla. Una vez más, debes aplicar dos métodos en una secuencia para obtener la cantidad de duplicados explícitos.

In [21]:
# Contar duplicados explícitos
print(df.duplicated().sum())

3826

Ahora, elimina todos los duplicados. Para ello, llama al método que hace exactamente esto.

In [22]:
# Eliminar duplicados explícitos
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

0

Comprobemos ahora si eliminamos con éxito todos los duplicados. Cuenta los duplicados explícitos una vez más para asegurarte de haberlos eliminado todos:

In [23]:
# Comprobar de nuevo si hay duplicados

print(df.duplicated().sum())

0

Ahora queremos deshacernos de los duplicados implícitos en la columna `genre`. Por ejemplo, el nombre de un género se puede escribir de varias formas. Dichos errores también pueden afectar al resultado.

Para hacerlo, primero mostremos una lista de nombres de género únicos, ordenados en orden alfabético. Para ello:
* Extrae la columna `genre` del DataFrame.
* Llama al método que devolverá todos los valores únicos en la columna extraída.

In [25]:
# Inspeccionar los nombres de géneros únicos

print(df['genre'].unique())
df=df.sort_values(by='genre')

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'ambient' 'americana' 'animated' 'anime' 'arabesk' 'arabic' 'arena'
 'argentinetango' 'art' 'audiobook' 'avantgarde' 'axé' 'baile' 'balkan'
 'beats' 'bigroom' 'black' 'bluegrass' 'blues' 'bollywood' 'bossa'
 'brazilian' 'breakbeat' 'breaks' 'broadway' 'cantautori' 'cantopop'
 'canzone' 'caribbean' 'caucasian' 'celtic' 'chamber' 'children' 'chill'
 'chinese' 'choral' 'christian' 'christmas' 'classical' 'classicmetal'
 'club' 'colombian' 'comedy' 'conjazz' 'contemporary' 'country' 'cuban'
 'dance' 'dancehall' 'dancepop' 'dark' 'death' 'deep' 'deutschrock'
 'deutschspr' 'dirty' 'disco' 'dnb' 'documentary' 'downbeat' 'downtempo'
 'drum' 'dub' 'dubstep' 'eastern' 'easy' 'electronic' 'electropop' 'emo'
 'entehno' 'epicmetal' 'estrada' 'ethnic' 'eurofolk' 'european'
 'experimental' 'extrememetal' 'fado' 'film' 'fitness' 'flamenco' 'folk'
 'folklore' 'folkmetal' 'folkrock' 'folktronica' 'forró' 'frankreich'
 'französisch' 'french' 'funk' 'future' 'gangsta' 'garage' 'german'
 'ghazal' 'gitarre' 'glitch' 'gospel' 'gothic' 'grime' 'grunge' 'gypsy'
 'handsup' "hard'n'heavy" 'hardcore' 'hardstyle' 'hardtechno' 'hip'
 'hip-hop' 'hiphop' 'historisch' 'holiday' 'hop' 'horror' 'house' 'idm'
 'independent' 'indian' 'indie' 'indipop' 'industrial' 'inspirational'
 'instrumental' 'international' 'irish' 'jam' 'japanese' 'jazz' 'jewish'
 'jpop' 'jungle' 'k-pop' 'karadeniz' 'karaoke' 'kayokyoku' 'korean'
 'laiko' 'latin' 'latino' 'leftfield' 'local' 'lounge' 'loungeelectronic'
 'lovers' 'malaysian' 'mandopop' 'marschmusik' 'meditative'
 'mediterranean' 'melodic' 'metal' 'metalcore' 'mexican' 'middle'
 'minimal' 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim' 'native'
 'neoklassik' 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz' 'numetal'
 'oceania' 'old' 'opera' 'orchestral' 'other' 'piano' 'pop'
 'popelectronic' 'popeurodance' 'post' 'posthardcore' 'postrock' 'power'
 'progmetal' 'progressive' 'psychedelic' 'punjabi' 'punk' 'quebecois'
 'ragga' 'ram' 'rancheras' 'rap' 'rave' 'reggae' 'reggaeton' 'regional'
 'relax' 'religious' 'retro' 'rhythm' 'rnb' 'rnr' 'rock' 'rockabilly'
 'romance' 'roots' 'ruspop' 'rusrap' 'rusrock' 'salsa' 'samba' 'schlager'
 'self' 'sertanejo' 'shoegazing' 'showtunes' 'singer' 'ska' 'slow'
 'smooth' 'soul' 'soulful' 'sound' 'soundtrack' 'southern' 'specialty'
 'speech' 'spiritual' 'sport' 'stonerrock' 'surf' 'swing' 'synthpop'
 'sängerportrait' 'tango' 'tanzorchester' 'taraftar' 'tech' 'techno'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'unknown' 'urban' 'uzbek' 'variété'
 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï']

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Muy bien.</div>

Busca en la lista para encontrar duplicados implícitos del género `hiphop`. Estos pueden ser nombres escritos incorrectamente o nombres alternativos para el mismo género.

Verás los siguientes duplicados implícitos:
* `hip`
* `hop`
* `hip-hop`

Para deshacerte de ellos, crea una función llamada `replace_wrong_genres()` con dos parámetros:
* `wrong_genres=`: esta es una lista que contiene todos los valores que necesitas reemplazar.
* `correct_genre=`: este es un string que vas a utilizar como reemplazo.

Como resultado, la función debería corregir los nombres en la columna `'genre'` de la tabla `df`, es decir, remplazar cada valor de la lista `wrong_genres` por el valor en `correct_genre`.

Dentro del cuerpo de la función, utiliza un bucle `'for'` para iterar sobre la lista de géneros incorrectos, extrae la columna `'genre'` y aplica el método `replace` para hacer correcciones.

In [32]:
# Función para reemplazar duplicados implícitos
def replace_wrong_genres(genre, column, wrong_genres,correct_genre):
    for worong_genre in wrong_genres:
        genre[column]=genre[column].replace(worong_genre,correct_genre)
    return df

Ahora, llama a `replace_wrong_genres()` y pásale tales argumentos para que retire los duplicados implícitos (`hip`, `hop` y `hip-hop`) y los reemplace por `hiphop`:

In [33]:
# Eliminar duplicados implícitos

wrong_genre=['hip','hop','hop-hop']
genre='hiphop'
replace_wrong_genres(df,'genre',wrong_genre,genre)

,user_id,track,artist,genre,city,time,day
32883,C40BC5DF,Shot in the Dark,Four80East,acid,Springfield,09:44:12,Friday
3650,F10919ED,Ready For The Fire,Valley Of Wolves,acoustic,Shelbyville,21:33:18,Monday
20644,B02ED3AB,Prelude – Ne Me Qui Te Pas,unknown,acoustic,Springfield,13:31:03,Wednesday
39129,77D3A7D9,Prelude – Ne Me Qui Te Pas,unknown,acoustic,Springfield,14:27:34,Monday
14811,1C7D9E90,Prelude – Ne Me Qui Te Pas,unknown,acoustic,Shelbyville,21:47:42,Friday
...,...,...,...,...,...,...,...
47587,7897AF97,Snaana Mantra,Rekha Bharadwaj,world,Shelbyville,14:30:31,Monday
29684,8D96A84F,Sorry For My English,In2it,world,Springfield,14:38:42,Friday
40493,AA1730E8,Anu,Kailash Kokopelli,worldbeat,Shelbyville,20:16:34,Wednesday
28665,D7FB50DA,Drumming Circle,Professor Trance,worldbeat,Springfield,09:30:47,Monday
8514,A439123F,Flip It,unknown,ïîï,Springfield,09:08:51,Friday

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Esta bien. Pero en este caso remplaza el print() y utiliza la variable sin nada (llamalo solo). Es decir llamas a la variable y  ejecutas.

- *El ejemplo seria: nombre_df

Esto hara que sea mas legible y estetico.</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

Recorda remplazar el print().</div>


<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Corregido.</div>

Asegúrate de que los nombres duplicados han sido eliminados. Muestra la lista de valores únicos de la columna `'genre'` una vez más:

In [34]:
# Comprobación de duplicados implícitos
print(df['genre'].unique())
df=df.sort_values(by='genre')

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'ambient' 'americana' 'animated' 'anime' 'arabesk' 'arabic' 'arena'
 'argentinetango' 'art' 'audiobook' 'avantgarde' 'axé' 'baile' 'balkan'
 'beats' 'bigroom' 'black' 'bluegrass' 'blues' 'bollywood' 'bossa'
 'brazilian' 'breakbeat' 'breaks' 'broadway' 'cantautori' 'cantopop'
 'canzone' 'caribbean' 'caucasian' 'celtic' 'chamber' 'children' 'chill'
 'chinese' 'choral' 'christian' 'christmas' 'classical' 'classicmetal'
 'club' 'colombian' 'comedy' 'conjazz' 'contemporary' 'country' 'cuban'
 'dance' 'dancehall' 'dancepop' 'dark' 'death' 'deep' 'deutschrock'
 'deutschspr' 'dirty' 'disco' 'dnb' 'documentary' 'downbeat' 'downtempo'
 'drum' 'dub' 'dubstep' 'eastern' 'easy' 'electronic' 'electropop' 'emo'
 'entehno' 'epicmetal' 'estrada' 'ethnic' 'eurofolk' 'european'
 'experimental' 'extrememetal' 'fado' 'film' 'fitness' 'flamenco' 'folk'
 'folklore' 'folkmetal' 'folkrock' 'folktronica' 'forró' 'frankreich'
 'französisch' 'french' 'funk' 'future' 'gangsta' 'garage' 'german'
 'ghazal' 'gitarre' 'glitch' 'gospel' 'gothic' 'grime' 'grunge' 'gypsy'
 'handsup' "hard'n'heavy" 'hardcore' 'hardstyle' 'hardtechno' 'hiphop'
 'hip-hop' 'historisch' 'holiday' 'horror' 'house' 'idm' 'independent'
 'indian' 'indie' 'indipop' 'industrial' 'inspirational' 'instrumental'
 'international' 'irish' 'jam' 'japanese' 'jazz' 'jewish' 'jpop' 'jungle'
 'k-pop' 'karadeniz' 'karaoke' 'kayokyoku' 'korean' 'laiko' 'latin'
 'latino' 'leftfield' 'local' 'lounge' 'loungeelectronic' 'lovers'
 'malaysian' 'mandopop' 'marschmusik' 'meditative' 'mediterranean'
 'melodic' 'metal' 'metalcore' 'mexican' 'middle' 'minimal'
 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim' 'native' 'neoklassik'
 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz' 'numetal' 'oceania' 'old'
 'opera' 'orchestral' 'other' 'piano' 'pop' 'popelectronic' 'popeurodance'
 'post' 'posthardcore' 'postrock' 'power' 'progmetal' 'progressive'
 'psychedelic' 'punjabi' 'punk' 'quebecois' 'ragga' 'ram' 'rancheras'
 'rap' 'rave' 'reggae' 'reggaeton' 'regional' 'relax' 'religious' 'retro'
 'rhythm' 'rnb' 'rnr' 'rock' 'rockabilly' 'romance' 'roots' 'ruspop'
 'rusrap' 'rusrock' 'salsa' 'samba' 'schlager' 'self' 'sertanejo'
 'shoegazing' 'showtunes' 'singer' 'ska' 'slow' 'smooth' 'soul' 'soulful'
 'sound' 'soundtrack' 'southern' 'specialty' 'speech' 'spiritual' 'sport'
 'stonerrock' 'surf' 'swing' 'synthpop' 'sängerportrait' 'tango'
 'tanzorchester' 'taraftar' 'tech' 'techno' 'thrash' 'top' 'traditional'
 'tradjazz' 'trance' 'tribal' 'trip' 'triphop' 'tropical' 'türk' 'türkçe'
 'unknown' 'urban' 'uzbek' 'variété' 'vi' 'videogame' 'vocal' 'western'
 'world' 'worldbeat' 'ïîï']

[Volver a Contenidos](#back)

### Tus observaciones <a id='data_preprocessing_conclusions'></a>

`Describe brevemente lo que has notado al analizar duplicados, cómo abordaste sus eliminaciones y qué resultados obtuviste.`

# la elimininación de los mismos se realizo mediante una depuración de datos, previamente antes de realizar la elimincaión; 
 # Ispeccionar los nombres de generos unicos;
# posterior a ello mediante el uso funciones reemplazamos el valor duplicado en la columna para su posterior eliminación
# Se observo que tomo el valor a reemplazar.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Esta muy bien lo que comentas. Como consejo al realizarlo por items lo que fuiste haciendo queda mas claro.


</div>

[Volver a Contenidos](#back)

## Etapa 3. Prueba de hipótesis <a id='hypothesis'></a>

### Hipótesis: comparar el comportamiento del usuario o la usuaria en las dos ciudades <a id='activity'></a>

La hipótesis afirma que existen diferencias en la forma en que los usuarios y las usuarias de Springfield y Shelbyville consumen música. Para comprobar esto, usa los datos de tres días de la semana: lunes, miércoles y viernes.

* Agrupa a los usuarios y las usuarias por ciudad.
* Compara el número de canciones que cada grupo reprodujo el lunes, el miércoles y el viernes.

Realiza cada cálculo por separado.

El primer paso es evaluar la actividad del usuario en cada ciudad. Recuerda las etapas dividir-aplicar-combinar de las que hablamos anteriormente en la lección. Tu objetivo ahora es agrupar los datos por ciudad, aplicar el método apropiado para contar durante la etapa de aplicación y luego encontrar la cantidad de canciones reproducidas en cada grupo especificando la columna para obtener el recuento.

A continuación se muestra un ejemplo de cómo debería verse el resultado final:
`df.groupby(by='....')['column'].method()`Realiza cada cálculo por separado.

Para evaluar la actividad de los usuarios y las usuarias en cada ciudad, agrupa los datos por ciudad y encuentra la cantidad de canciones reproducidas en cada grupo.

In [35]:
# Contar las canciones reproducidas en cada ciudad
print(df.groupby('city')['track'].count())

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

`Comenta tus observaciones aquí`

Se obeserva que en la ciudad de Shelbyville (19719) hay una interacción inferior a la de 
Sprinfield (45360) con respecto a la cantidad de canciones por ciudad.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Excelente.

</div>

Ahora agrupemos los datos por día de la semana y encontremos el número de canciones reproducidas el lunes, miércoles y viernes. Utiliza el mismo método que antes, pero ahora necesitamos una agrupación diferente.

In [36]:
# Calcular las canciones reproducidas en cada uno de los tres días
print(df.groupby('day')['track'].count())

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

`Comenta tus observaciones aquí`

Se observa que los días lunes(22106) y viernes(22768) hay mayor interacción de los usuarios con esta actividad.

Ya sabes cómo contar entradas agrupándolas por ciudad o día. Ahora necesitas escribir una función que pueda contar entradas según ambos criterios simultáneamente.

Crea la función `number_tracks()` para calcular el número de canciones reproducidas en un determinado día **y** ciudad. La función debe aceptar dos parámetros:

- `day`: un día de la semana para filtrar. Por ejemplo, `'Monday'` (lunes).
- `city`: una ciudad para filtrar. Por ejemplo, `'Springfield'`.

Dentro de la función, aplicarás un filtrado consecutivo con indexación lógica.

Primero filtra los datos por día y luego filtra la tabla resultante por ciudad.

Después de filtrar los datos por dos criterios, cuenta el número de valores de la columna 'user_id' en la tabla resultante. Este recuento representa el número de entradas que estás buscando. Guarda el resultado en una nueva variable y devuélvelo desde la función.

In [37]:
def number_tracks (df, day, city):
    
    filt_day=df[df['day']==day]
    filt_city=filt_day[filt_day['city']==city]
    user_count=filt_city['user_id'].count()
    return user_count

print(df)

    
















# Declara la función number_tracks() con dos parámetros: day= y city=.

    
    # Almacena las filas del DataFrame donde el valor en la columna 'day' es igual al parámetro day=

    # Filtra las filas donde el valor en la columna 'city' es igual al parámetro city=

    # Extrae la columna 'user_id' de la tabla filtrada y aplica el método count()

    # Devolve el número de valores de la columna 'user_id'

        user_id                       track              artist      genre  \
32883  C40BC5DF            Shot in the Dark          Four80East       acid
3650   F10919ED          Ready For The Fire    Valley Of Wolves   acoustic
20644  B02ED3AB  Prelude – Ne Me Qui Te Pas             unknown   acoustic
39129  77D3A7D9  Prelude – Ne Me Qui Te Pas             unknown   acoustic
14811  1C7D9E90  Prelude – Ne Me Qui Te Pas             unknown   acoustic
...         ...                         ...                 ...        ...
41861  22AE681D                    Get Reel          Urban Trad      world
57346  F34AED31           Sirens of Thunder  Nature Lounge Club      world
28665  D7FB50DA             Drumming Circle    Professor Trance  worldbeat
40493  AA1730E8                         Anu   Kailash Kokopelli  worldbeat
8514   A439123F                     Flip It             unknown        ïîï

              city      time        day
32883  Springfield  09:44:12     Friday
3650   Shelbyville  21:33:18     Monday
20644  Springfield  13:31:03  Wednesday
39129  Springfield  14:27:34     Monday
14811  Shelbyville  21:47:42     Friday
...            ...       ...        ...
41861  Springfield  09:14:13  Wednesday
57346  Springfield  14:22:32  Wednesday
28665  Springfield  09:30:47     Monday
40493  Shelbyville  20:16:34  Wednesday
8514   Springfield  09:08:51     Friday

[61253 rows x 7 columns]

Llama a `number_tracks()` seis veces, cambiando los valores de los parámetros para que recuperes los datos de ambas ciudades para cada uno de los tres días.

In [40]:
# El número de canciones reproducidas en Springfield el lunes
print(number_tracks(df,'Monday','Springfield'))

15740

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Cuidado. Si bien hiciste una excelente funcion, en este caso no estas obteniendo el resultado esperado ya que no estas llamando bien al dia. Recorda que python es Case sensitive lo que significa que distingue de mayusculas y minusculas.

En este caso la opcion correcta seria 'Monday'
</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

Corregido, excelente.
</div>

In [87]:
# El número de canciones reproducidas en Shelbyville el lunes
print(number_tracks(df,'Monday','Shelbyville'))

5614

In [88]:
# El número de canciones reproducidas en Springfield el miércoles
print(number_tracks(df,'Wednesday','Springfield'))

11056

In [62]:
# El número de canciones reproducidas en Shelbyville el miércoles
print(number_tracks(df,'Wednesday','Shelbyville'))

7003

In [89]:
# El número de canciones reproducidas en Springfield el viernes
print(number_tracks(df,'Friday','Springfield'))

15945

In [90]:
# El número de canciones reproducidas en Shelbyville el viernes
print(number_tracks(df,'Friday','Shelbyville'))

5895

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Cuidado. Aqui el problema es de mayuscula pero tambien pusiste primero la ciudad y luego el dia.
</div>


<div class="alert alert-block alert-success">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

Corregido.
</div>

# hola, en el código anterior no se que esta mal ya revise los comentarios de los compañeros y no encuentro el error de estructura; solicitte ayuda por el grupo de proyecto pero no me han dado respuesta, por consiguiente sin resultado no podria concluir con el proyecto.

# quedo altamente agradecida que me orienten por este medio en la correción del mismo.

**Conclusiones**

`Comenta si la hipótesis es correcta o se debe rechazar. Explica tu razonamiento.`

#De acuerdo con la hipotesis inicial que habia menor interacción de acuerdo a la ciudad de Shelbyville, con respecto a Springfield se sostiene ya que de acuerdo a los resultados seguimos evidenciando mayor actividad por la ciudad de Springfield; 

#Con respecto a los días continua tomando la delantera los días lunes y viernes en su respectiva ciudad previamente mencionada.

#¡Parece, que Sprinfield es una ciudada muy activa en este campo!

[Volver a Contenidos](#back)

# Conclusiones <a id='end'></a>

`Resume aquí tus conclusiones sobre la hipótesis.`

#Shelbyville es una ciudad con poca interacción en el campo musical;
#Por el contrario Springfield es una ciudad muy activa en este campo;
#se observa que los días fuertes para estos sucesos son los lunes y viernes; aunque la diferencia #salta a la vista; en ambas ciudades se aprecia el comportamiento equivalente en magnitud en estos días.

### Nota
En proyectos de investigación reales, la prueba de hipótesis estadística es más precisa y cuantitativa. También ten en cuenta que no siempre se pueden sacar conclusiones sobre una ciudad entera a partir de datos de una sola fuente.

Aprenderás más sobre la prueba de hipótesis en el sprint de análisis estadístico de datos.

<div class="alert alert-block alert-danger">
<b>Comentario general #1</b> <a class="tocSkip"></a>

Andrea, hiciste un muy buen trabajo ya que abarcaste todos los puntos que se necesitaban.

A nivel general esta muy bien todo lo planteado y como lo ejecutaste.

Restan detalles para que el trabajo este perfecto, ademas de ver la llamada a las funciones.

Quedo a la espera de tu correccion, saludos.</div>

<div class="alert alert-block alert-danger">
<b>Comentario general #2</b> <a class="tocSkip"></a>

Andrea, muy buenas las correcciones de la funcion, te quedo excelente.
    
Resta remplazar el print() por la llamada del metodo o variable para que quede mas estetico, corregido eso el trabajo estara aprobado.
    
Saludos.
</div>


<div class="alert alert-block alert-success">
<b>Comentario general #3</b> <a class="tocSkip"></a>
    
Andrea, excelentes las correcciones.
    
Faltaban detalles para aprobar este excelente trabajo y fueron realizado por lo que pasa a estar **aprobado**.

Hiciste un gran proyecto, te felicito.

Exitos en lo que viene, saludos.</div>

[Volver a Contenidos](#back)